<div>

</div>
{% schema %}
{
    "name" : "Team Mrs",
    "class" : "team-members-section",
    "settings" : 
    [
        {
            "id" : "title",
            "type" : "text",
            "label" : "Sect Title",
            "default" : "Meet our Team"

        }
    ]
}
{% endschema %}